<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/summary.html">Summary</a></li>
                <li><a href="/index.html">Logout</a></li>
                <li><a href="/edit.html">Edit Profile</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>