{% extends 'index.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="POST" action="/login" class="container-fluid row justify-content-center">
      <div class="col-5">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control mb-3" id="email" name="email" required><br>
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control mb-3" id="password" name="password" required><br>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>
{%endblock%}