<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST" action="/register">
        <label>Email id: <input type="text" name="email" placeholder="Email" required></label>
        <label>Password: <input type="password" name="password" placeholder="Password" required></label>
        <label>Fullname: <input type="text" name="fullname" placeholder="Full Name" required></label>
        <label>Address: <input type="text" name="address" placeholder="Address" required></label>
        <label>Pincode: <input type="number" name="pincode" placeholder="Pincode" required></label>
        <label>Phonenumber<input type="number" name="phno" placeholder="Phone Number" required></label>
    </form>
</body>
</html>